/*!
 * Roots 6.5.0
 */

@import "bootstrap/bootstrap.less";

/* ==========================================================================
   Base
   ========================================================================== */

body { 
   background: url('/assets/img/content/bg_stripes-filled.png') repeat;
   font-family: 'Raleway', sans-serif;
}

.wrap {
   bottom: 0px;
   left: 0px;
   position: absolute;
   right: 0px;
   top: 0px;
}

/* ==========================================================================
   Header
   ========================================================================== */

.banner { 
   margin-bottom: 0px;
   //box-shadow: 0px 2px 5px @brand-primary;

   .navbar-nav {
      li.active,
      li.active:hover {
         a {
           border-bottom: @navbar-default-link-active-border-bottom;
           padding-bottom: @navbar-default-link-active-padding-bottom;
         }
      }
      li:hover {
         a {
           border-bottom: @navbar-default-link-hover-border-bottom;
           padding-bottom: @navbar-default-link-hover-padding-bottom;
         }
      }
   }

   .navbar-header {
      .navbar-brand {
         font-family: 'Lobster', cursive;
      }
   }
}



/* ==========================================================================
   Content
   ========================================================================== */

.content { 
   background: @brand-light url('/assets/img/content/button_line-reverse.png') repeat-y 100%;
   height: 100%;
   //margin-bottom: 5px;
   padding-top: 50px;
   box-shadow: 0px 0px 10px @brand-primary;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
   color: @brand-dark;
   font-family: 'Lobster', cursive;
}

/* ==========================================================================
   Primary Content
   ========================================================================== */

.main {
   padding-right: 38px;
}

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { 
   padding-top: 10px;
}



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { 
   background: @body-bg;//rgba(218, 234, 245, 1);
   border-top: 1px dashed @brand-med;
   bottom: 0px;
   color: @gray-darker;
   left: 10px;
   position: fixed;
   right: 10px;
}



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-sm) { }

@media (min-width: @screen-md) { }

@media (min-width: @screen-lg) { }
